
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Elite User Page</title>
</head>
<body>
    <h1>Elite User Page</h1>
    <h2>This page can be accessed only if the user blongs to 'Elite' or 'Admin' role</h2>
    <span>Logged in user: <b>@ViewBag.User</b></span>
</body>
</html>
