
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Visitor Page</title>
</head>
<body>
    <h1>Visitor Page</h1>
    <h2>This page is open for everyone to access!</h2>
</body>
</html>
