

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Member Page</title>
</head>
<body>
    <h1>Member Page</h1>
    <h2>This page can be accessed by all users that are logged in!</h2>

    <span>Logged in user: <b>@ViewBag.User</b></span>
</body>
</html>
